<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>【棕榈大道】研究生|本科|高中留学服务申请_留学咨询条件及中介机构费用</title>
<meta name='description' content='棕榈大道是一家创立于斯坦福大学的互联网教育科技公司，提供1对1研究生硕士博士、本科、高中留学服务申请咨询，导师制美国留学机构、美国留学中介，留学条件留学费用介绍。提供4对1名校导师辅导，5000+海外名校同专业导师。'/>
<meta name="keywords" content="美国高中留学，美国高中留学申请，美国高中留学咨询，美国高中留学咨询费用，美国高中留学中介，美国高中留学中介机构，美国高中留学中介机构费用，美国高中留学条件，美国本科留学，美国本科留学申请，美国本科留学咨询，美国本科留学咨询费用，美国本科留学中介，美国本科留学中介机构，美国本科留学中介机构费用，美国本科留学条件，美国研究生留学，美国研究生留学申请，美国研究生留学咨询，美国研究生留学咨询费用，美国研究生留学中介，美国研究生留学中介机构，美国研究生留学中介机构费用，美国研究生留学条件，美国留学，美国留学咨询，美国留学条件，美国留学咨询，美国留学中介，美国留学中介机构，美国留学中介费用，美国留学中介机构费用"/>
<meta name="baidu-site-verification" content="YVWGRcnOKf" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
<link href="/assets/marketings-9285af094dde0b9f0e3657680f5dd2b8.css" media="all" rel="stylesheet" type="text/css" />
<style type='text/css'>
@font-face{font-family:'FontAwesome';src:url(/fonts/fontawesome-webfont.eot);src:url(/fonts/fontawesome-webfont.eot) format("embedded-opentype"),url(/fonts/fontawesome-webfont.woff) format("woff"),url(/fonts/fontawesome-webfont.ttf) format("truetype"),url(/fonts/fontawesome-webfont.svg) format("svg");}@font-face{font-family:'VideoJS';src:url("font/vjs.eot");src:url("font/vjs.eot?#iefix") format("embedded-opentype"),url("/font/vjs.woff") format("woff"),url("/font/vjs.ttf") format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:'LatoLight';src:url('/fonts/Lato/Lato-Light.eot');/* IE9 Compat Modes */src:url('/fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */url('/fonts/Lato/Lato-Light.woff') format('woff'),/* Modern Browsers */url('/fonts/Lato/Lato-Light.ttf') format('truetype');font-style:normal;font-weight:normal;text-rendering:optimizeLegibility;}@font-face {font-family: 'ui-grid';src: url('/fonts/ui-grid/ui-grid.eot');src: url('/fonts/ui-grid/ui-grid.eot#iefix') format('embedded-opentype'), url('/fonts/ui-grid/ui-grid.woff') format('woff'), url('/fonts/ui-grid/ui-grid.ttf') format('truetype'), url('/fonts/ui-grid/ui-grid.svg?#ui-grid') format('svg');font-weight: normal;font-style: normal;}
@font-face{font-family:'BebasNeueRegular';src:url("font/bebasneue_regular-webfont.eot");src:url("font/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"),url("/font/bebasneue_regular-webfont.woff") format("woff"),url("/font/bebasneue_regular.ttf") format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family: 'CenturyGothinBold'; src: url("/font/CenturyGothicbold.TTF")  format("truetype")}
@font-face{font-family: 'AvantGardeDemi'; src: url("/font/AvantGardeDemi.otf")}
@font-face{font-family: 'NotoSansHansRegular'; src: url("/font/NotoSansHans-Regular.otf")}
@font-face{font-family: 'NotoSansHansBold'; src: url("/font/NotoSansHans-Bold.otf")}
@font-face{font-family: 'NotoSansHansThin'; src: url("/font/NotoSansHans-Thin-Windows.otf")}
@font-face{font-family: 'NotoSansHansLight'; src: url("/font/NotoSansHans-Light.otf")}
@font-face{font-family:'Segoe-Print';src:url("/font/segoe_print.ttf") format("truetype");font-weight:normal;font-style:normal}
</style>

<script>
  // set the PD global variable 
  window.PD = {};
  PD.railsEnv = "production";
  PD.locale = "zh-CN";
  
  if (window.location.pathname == "/undergrad_services_en") {
    console.log("I18n");
    if (PD.locale != "en") {
      PD.locale = "en";
      document.cookie = "locale=en";  
      location.reload();
    }
  }
  
  
  function getCookie(cookieName) {
    let cookie = {};
    document.cookie.split(";").forEach(function (el) {
      let [key, value] = el.split("=");
      if (key.indexOf(cookieName) > -1) {
        cookie[key.trim()] = value;
      }
    });
    return Object.values(cookie);
  }
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  var json_consent_status;
  var cookievalue = getCookie("consentstatus");
  //默认意见
  gtag("consent", "default", {
    region: ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'HR', 'HU', 'IE', 'IS', 'IT','LI', 'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK'],
    'ad_storage': 'denied',
    'ad_user_data': 'denied',
    'ad_personalization': 'denied',
    'analytics_storage': 'denied',
    'wait_for_update': 500
  });
  //过往意见
  if (cookievalue.length != 0) {
    if ((cookievalue == 'granted')) {
      gtag("consent", "update", {
        'ad_storage': 'granted',
        'ad_user_data': 'granted',
        'ad_personalization': 'granted',
        'analytics_storage': 'granted'
      });
    } else {
      gtag("consent", "update", {
        'ad_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'analytics_storage': 'denied'
      });
    }
  }
  function setCookies(json_consent_status) {
    var currentDate = new Date();
    var expirationDate = new Date(currentDate);
    expirationDate.setFullYear(currentDate.getFullYear() + 1);
    var expires = expirationDate.toUTCString();
    document.cookie = "consentstatus=" + json_consent_status + ";expires=" + expires + ";path=/";
  }
  //客户点击拒绝
  document.addEventListener('click', function (e) {
    const dom = e.target.closest('[class="c-button c-decline"]');
    if (dom === null) return;
    gtag('consent', 'update', {
      'ad_storage': 'denied',
      'ad_user_data': 'denied',
      'ad_personalization': 'denied',
      'analytics_storage': 'denied'
    });
    json_consent_status = 'denied';
    setCookies(json_consent_status);
  });
  //客户点击授权
  document.addEventListener('click', function (e) {
    const dom = e.target.closest('[class="c-button c-accept"]');
    if (dom === null) return;
    gtag('consent', 'update', {
      'ad_storage': 'granted',
      'ad_user_data': 'granted',
      'ad_personalization': 'granted',
      'analytics_storage': 'granted'
    });
    json_consent_status = 'granted';
    setCookies(json_consent_status);
  });
</script>

<script src="/assets/application-5fd8f720a583f5779197e390ea247387.js" type="text/javascript"></script>
<meta content="authenticity_token" name="csrf-param" />
<meta content="IvDlIwhGwlWUZesk0jenuQO1TwwOd5iRmRNE7Rm8ZHU=" name="csrf-token" />
<script>
  // Tracking codes below: GA, Mixpanel, Everstring
  // Wouldn't send out data in development environment by wrapping in the PD.util.tracking
  
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
  // start Mixpanel
  (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
  b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
  
  mixpanel.init("91d7be929b2dd9b9968295a2e079888d");
  // end Mixpanel
  
  PD.util.tracking(function() {
    ga('create', 'UA-41295208-1', {
      siteSpeedSampleRate: 100,
      cookieDomain: 'palmdrive.cn'
    });
    ga('send', 'pageview');
  });
  
  // Global
  PD.user = {};
</script>
<script>
  mixpanel.track('general page view track', {
    UserEmail: PD.user.email,
    url: location.href 
  });
  //track total active time
  PD.util.whileWindowActive(function() {
    mixpanel.people.increment('total active time(in min) on PalmDrive', 0.05);
  }, 3000);
</script>

</head>
<body class='marketings' is-responsive='true'>
<header class='navbar scroll-effect' id='header'>
<div class='navbar-inner'>
<div class='container'>
<div class='row secondary-nav t-size-16 m-size-12'>
<div class='language-selector pull-right' id='language-selector'>
<span>当前语言:</span>
<a class='active' href='/zh-CN/select_language'>中文</a>
<span>&nbsp;|&nbsp;</span>
<a class='' href='/en/select_language'>English</a>
</div>
<script>
  // Add return_to params to the select_language link
  $(document).ready(function() {
    PD.util.setReturnParamOnLanguageSelector();
  });
</script>

<div class='wechat-part pull-right'>
<span>微信客服: &nbsp;palmdrive12</span>
</div>
<div class='tel-part pull-right'>
<i class='sprites-icon-tel-dark'></i>
<span class='bold theme-blue'>400-006-2153</span>
</div>
</div>
<div class='row main-nav'>
<a class='pull-left' href='/' ui-sref='home'>
<i class='sprites-icon-logo-text'></i>
</a>
<div class='right-text pull-right'>
<div class='visible-desktop'>
<a class='btn btn-signup' href='http://cms.palmdrive.cn/std/home' target='_blank'>登入</a>
<a class='btn btn-signup' href='http://cms.palmdrive.cn' target='_blank'>注册</a>
</div>
<div class='visible-phone visible-tablet'>
<!-- - if current_user.nil? -->
<!-- - if !@signin_path.nil? -->
<!-- %a.secondary-black.size-m{:href => '#sign-in-modal', :'data-toggle' => 'modal'} 登陆 -->
<!-- %a.secondary-black.size-m{:href => '#applicant-signup-modal', :'data-toggle' => 'modal'} 注册 -->
<!-- - else -->
<!-- .user-info-container -->
<!-- %a.secondary-black.size-m{:href=>"#{current_user.is_applicant? ? dashboard_path_for_applicant : dashboard_path_for_advisor}"} #{current_user.username} -->
<!-- - if current_user.is_applicant? -->
<!-- %span.coconuts-container.black -->
<!-- %i.icon.icon-coconut -->
<!-- %span.size-m -->
<!-- #{current_user.user_reward.coconuts_amount} -->
<!-- %a.secondary-black.size-m{:href=>"/signout",:tabindex=>"-1"} 登出 -->
<div class='user-info-container'>
<a class='btn btn-sidebar-toggle' data-main='body' data-sidebar='#header .nav-nested' data-toggle='pd-sidebar'>
<i class='fa fa-navicon'></i>
</a>
</div>
</div>
<script>
  $('.btn-signup').click(function(){
    var $modal = $('#applicant-signup-modal');
    $modal.find('input[name=signup_source]').val("1");
  
    mixpanel.track("start Signup through nav bar", { UserEmail: PD.user.email });
    mixpanel.people.set({
      'last start Signup through nav bar': new Date()
    });
  
    ga('send', 'event', 'sign up', 'click sign-up button', 'navbar sign-up button');
  });
</script>

</div>
<ul class='nav nav-nested secondary-black'>
<li class='visible-phone visible-tablet'>
<a class='close' data-main='body' data-sidebar='#header .nav-nested' data-toggle='pd-sidebar'>&times;</a>
</li>
<li class='size-m nav-item-highschoolServices'>
<a href='/highschool_services' ui-sref='highschoolServices'>
初高中留学
</a>
</li>
<li class='size-m nav-item-undergradServices'>
<a href='/undergrad_services' ui-sref='undergradServices'>
本科留学 
</a>
</li>
<li class='size-m nav-item-services nested-item'>
<a href='/v2/graduate.html#/graduate'>
硕博留学
</a>
</li>
<li class='size-m nav-item-about'>
<a href='/about' ui-sref='about'>
关于我们
</a>
</li>

<li class='visible-phone visible-tablet'>
<a href='http://cms.palmdrive.cn/mentor'>导师登入</a>
<a data-toggle='modal' href='#sign-in-modal'>学生登入</a>
<a href='http://cms.palmdrive.cn/std/home'>新系统学生登入</a>
</li>
</ul>
</div>
</div>
</div>
</header>
<div class='modal hide mobile-modal fade' id='sign-in-modal'>
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<div class='modal-header'>
<i class='sprites-icon-logo-text'></i>
<h4 class='theme-blue'>用户登录</h4>
</div>
<div class='modal-body'>
<div id='notice-container'></div>
<form accept-charset="UTF-8" action="/sessions?user_type=applicant" class="form form-horizontal" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="IvDlIwhGwlWUZesk0jenuQO1TwwOd5iRmRNE7Rm8ZHU=" /></div><input name='return_to' type='hidden'>
<div class='control-group'>
<div class='controls mobile-field'>
<input id="session_email" name="session[email]" placeholder="邮箱" required="required" size="30" type="text" />
</div>
</div>
<div class='control-group'>
<div class='controls mobile-field'>
<input id="session_password" name="session[password]" placeholder="密码" required="required" size="30" type="password" />
</div>
</div>
<div class='control-group'>
<div class='controls mobile-field'>
<select id="session_user_type" name="session[user_type]"><option value="0">申请者</option>
<option value="1">导师</option></select>
</div>
</div>
<div class='control-group'>
<div class='controls'>
<a href="/password">忘记密码?</a>
</div>
</div>
<div class='control-group action-holder'>
<div class='controls action'>
<input class="btn login-btn" name="commit" type="submit" value="登录" />
</div>
</div>
</form>

</div>
</div>
<script>
  $('#sign-in-modal form').validate();
  
  $('#sign-in-modal').on('hide', function() { 
    $(this).find('input[name=return_to]').val('');
  });
</script>

<div class='modal hide mobile-modal fade' id='applicant-signup-modal'>
<div class='modal-header'>
<button aria-hidden='true' class='close' data-dismiss='modal' type='button'>&times;</button>
<i class='sprites-icon-logo-text'></i>
<h4 class='theme-blue'>注册申请者账号</h4>
</div>
<div class='modal-body'>
<div id='notice-container'></div>
<form accept-charset="UTF-8" action="/applicants" class="form-signup form-horizontal" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="IvDlIwhGwlWUZesk0jenuQO1TwwOd5iRmRNE7Rm8ZHU=" /></div><input name='return_to' type='hidden'>
<input name='signup_source' type='hidden'>
<input name='applicant[role]' type='hidden' value='user'>
<div class='control-group'>
<div class='controls mobile-field'>
<input id="applicant_phone" name="applicant[phone]" placeholder="手机号" required="required" size="30" type="tel" />
</div>
</div>
<div class='control-group'>
<div class='controls mobile-field'>
<input id="applicant_email" name="applicant[email]" placeholder="邮箱" required="required" size="30" type="email" />
</div>
</div>
<div class='control-group'>
<div class='controls mobile-field'>
<input id="applicant_password" name="applicant[password]" placeholder="密码" required="required" size="30" type="password" />
</div>
</div>
<div class='control-group'>
<div class='controls mobile-field'>
<input id="applicant_username" name="applicant[username]" placeholder="用户名" required="required" size="30" type="text" />
</div>
</div>
<div class='control-group action-holder'>
<div class='controls'>
<button class='btn btn-submit' type='submit'>提交</button>
</div>
<div class='controls' style='margin-top: 10px'>
<a class='btn-shift' href='#'>已有账号？登入棕榈大道的账号</a>
</div>
</div>
</form>

</div>
</div>
<script>
  (function() {
    var $modal =  $('#applicant-signup-modal'),
        $form = $modal.find('.form-signup');
  
    $('.btn-shift').click(function(e) {
      e.preventDefault();
      var returnTo = $modal.find('input[name=return_to]').val(),
          $signinModal = $('#sign-in-modal');
  
      $modal.modal('hide');
      $signinModal.find('input[name=return_to]').val(returnTo);
      $signinModal.modal();
    });
  
    $modal.on('hide', function() {
      $(this).find('input[name=return_to]').val('');
      $(this).find('#notice-container').empty();
    });
  
    $form.on('click','.btn-submit',function(){
      var signupSource = $form.find('input[name=signup_source]').val(),
          events = ['Sign up through nav bar', 
                    'Sign up through reading major articles',
                    'Sign up through watching video', 
                    'Sign up through watching video',
                    'Sign up through free essay evaluation' ];
  
      mixpanel.track(events[signupSource-1], {
                      email: $('.input-email').val()
                      });
    });
  
    $form.validate();
  })();
  
  function objectifyForm(formArray) {//serialize data function
  
    var returnArray = {};
    for (var i = 0; i < formArray.length; i++){
      returnArray[formArray[i]['name']] = formArray[i]['value'];
    }
    return returnArray;
  }
</script>

<script>
  if (PD.locale == "en") {
    $(".tel-part").html("");
    let temp = "<i class='sprites-icon-tel-dark'></i><span class='bold theme-blue'>+1 650-880-9306</span>";
    $(".tel-part").append(temp);
  }
  
  (function() {
    if( !PD.util.isSmallScreen() ) {
      var $header = $('#header'),
          secondaryNavHeight = $header.find('.secondary-nav').innerHeight(),
          $window = $(window),
          isFixed = false,
          top;
  
      $window.scroll(function(){
        top = $window.scrollTop();
            
        if (top > secondaryNavHeight) {
          if (!isFixed) {
            $header.css({
              position: 'fixed',
              top: -secondaryNavHeight + 'px'
            });
            isFixed = true;
          }
        } else {
          if (isFixed) {
            $header.css({
              position: 'absolute',
              top: 0
            });
            isFixed = false;
          }
        }
      }); 
    }
  })();
</script>

<div class='main-content' pd-main-content>
<div class='container alert-container global-alert-container relative-position'>
</div>
<div ui-view='main'>
<div style='padding: 60px 0 400px'>
<div class='pd-loading' ng-hide='loaded'>
<div class='loading-gauge'></div>
<br>
Loading...
</div>
</div>
</div>
<script src="/assets/jquery.fullPage-a0cb0ced998ed573e827f3fdca6cbceb.js" type="text/javascript"></script>
<script src="/assets/pages/marketings-ed617cc20a4f7a10eeb20648f335189b.js" type="text/javascript"></script>

</div>
<script>
  // Config video.js
  (function() {
    var lastScrollTop = 0;
    $(window).scroll(function() {
      var st = $(this).scrollTop();
      if (st > lastScrollTop){
        // downscroll code
        $("#contact-info").removeClass("contact-info-fadeout");
        $("#contact-info").css("display","block");
      } else {
        // upscroll code
        $("#contact-info").addClass("contact-info-fadeout");
        // $("#contact-info").css("display","none");
      }
      lastScrollTop = st;
    });
    if(PD.user.id) {
      PD.util.checkToRedirect();
    }
    if (PD.util.isSmallScreen()) {
      $('header').headroom({
         offset: $('header').outerHeight()
      });
    } else if(window.videojs) {
      videojs.options.flash.swf = "assets/video-js.swf";
    }
  })();
</script>
<footer class='size-s' id='footer'>
<div class='container'>
<div class='row-fluid'>
<div class='col-sm-4 col-xs-6'>
<ul>
<li>
<a href='/about' ui-sref='about'>
关于团队
</a>
</li>
<li>
<a href="http://cms.palmdrive.cn/mentor/mentorinfo">导师注册</a>
</li>
<li>
<a href='/mentors' ui-sref='mentors'>
导师一览
</a>
</li>
<li>
<a href="https://mp.weixin.qq.com/s?__biz=MzA5OTM4NDAyMg==&amp;mid=2654785229&amp;idx=4&amp;sn=a025b7f3b98565e683ff3245f803fec0&amp;key=99c0c40a9ecc7dee3ccb8697bcbf83cf8b152b691f5ee1133342696bac172c2d39899b8a192f046817b354b85f4c1aed75fdf81c16872abf29dafe8ab47da8bf8b2ca3e0c2bfcb4a4a7b3b0693700a8c&amp;ascene=0&amp;uin=MTE1MTM4Mjk0MA%3D%3D&amp;devicetype=iMac+MacBookPro12%2C1+OSX+OSX+10.12.4+build(16E195)&amp;version=12020110&amp;nettype=WIFI&amp;fontScale=100&amp;pass_ticket=Vx0Fzp7%2FzP01YRI3qn%2BvhU42A04cV28PqYo%2BIBTMXTZApouH5qhDG4WYWAiKEZ4o" target="_blank">加入我们</a>
</li>
<li>
<a href="/privacy_policy" target="_blank">隐私条款</a>
</li>
<li>
<a class='login-btn' data-toggle='modal' href='#sign-in-modal'>登入(旧)</a>
</li>
<li>
<a class='btn-signup' data-toggle='modal' href='#applicant-signup-modal'>注册(旧)</a>
</li>
</ul>
</div>
<div class='col-sm-4 col-xs-6'>
<ul class='contacts'>
<li>联系客服</li>
<li>
<i class='sprites-icon-email'></i>
<span>suggestions@palmdrive.cn</span>
</li>
<li>
<i class='sprites-icon-tel'></i>
<span>服务了解热线 400-006-2153</span>
</li>
<li>
<i class='sprites-icon-tel'></i>
<span>本科高中申请</span>
</li>
<li>
<i class='sprites-icon-wechat-s'></i>
<span>palmdriveTAT</span>
</li>
<li>
<i class='sprites-icon-tel'></i>
<span>商务合作 18026424935</span>
</li>
</ul>
</div>
<div class='col-sm-4 col-sx-12 wechat-img-container center'>
<div class='img-palmdrive-qr'></div>
<br>
<span class='darker-text size-xs'>微信扫一扫 立即关注</span>
</div>
</div>
<div class='row-fluid copy-right center size-s'>
<span class='darker-text'>北京海淀办公室: 北京市海淀区北四环西路66号中国技术交易大厦A座1501室 联系电话：010-6268 0655<br>上海办公室：上海市黄浦区马当路388号 SOHO复兴广场A栋1001 联系电话：021-6331 0108<br>深圳办公室：深圳市福田区金田路卓越世纪中心1号楼407-410室 联系电话：0755- 8891 2010<br>成都办公室: 成都市锦江区红星路三段1号国际金融中心一号办公楼36楼1及8-10单元 联系电话：028-8675 8946<br>广州办公室: 广州市天河区花城大道85号高德置地春广场A座2801室 联系电话：020-8981 9380<br>武汉办公室: 武汉市洪山区珞瑜路10号群光中心写字楼16楼1606 联系电话：027-87791846<br>杭州办公室: 浙江省杭州市拱墅区环城北路208号坤和中心1702室 联系电话：0571-8690 7806<br>南京办公室: 南京市栖霞区学津路8号仙林高创中心B座707室 联系电话：025-87761332<br>硅谷办公室: 1601 S De Anza Blvd, Ste 115, Cupertino, 95014 Tel: +1 650-880-9306<br>156 2nd St, San Francisco, CA 94105 Tel: +1 650-880-9306<br>全国统一客服电话：400-006-2153 &nbsp;&nbsp;商务合作洽谈：18026424935</span>
<br>
<span class='darker-text'>CopyRight©2017 棕榈大道教育科技(北京)有限公司 京ICP备14009960号-1 增值电信业务经营许可证：京B2-20191218</span>
</div>
</div>
</footer>
<footer class='size-s' id='new-footer'>
<div class='container'>
<div class='left-view'>
<div class='city-view'>
<ul class='city'>
<li onclick='showMsg(0, this)' style='color: #fff'>
Beijing
</li>
<li onclick='showMsg(1, this)'>
Shanghai
</li>
<li onclick='showMsg(2, this)'>
Shenzhen
</li>
<li onclick='showMsg(3, this)'>
Chengdu
</li>
<li onclick='showMsg(4, this)'>
Guangzhou
</li>
<li onclick='showMsg(5, this)'>
Wuhan
</li>
<li onclick='showMsg(6, this)'>
Hangzhou
</li>
<li onclick='showMsg(7, this)'>
Silicon Valley
</li>
</ul>
</div>
<div class='contacts-view'>
<ul class='contacts contacts-address'>
<li class='contact-title'>Contact</li>
<li>
<span>ADD:</span>
<span>北京市海淀区北四环西路66号中国技术交易大厦A座1501室</span>
</li>
<li>
<span>TEL:</span>
<span>010-6268 0655</span>
</li>
<br>
<li>
<span>ADD:</span>
<span>北京市朝阳区建国路112号中国惠普大厦13层1317</span>
</li>
<li>
<span>TEL:</span>
<span>010-6268 0655</span>
</li>
</ul>
</div>
<div class='contacts-service-view'>
<ul class='contacts contact-service'>
<li class='contact-title'>联系客服</li>
<li>
<i class='sprites-icon-email'></i>
<span>邮箱：yue_guo@palmdrive.cn</span>
</li>
<li>
<i class='sprites-icon-tel'></i>
<span><span class="translation_missing" title="translation missing: zh-CN.marketings.global.footer.Hotline">Hotline</span>：400-006-2153</span>
</li>
<li>
<i class='sprites-icon-wechat-s'></i>
<span>留学服务咨询微信号：palmdrive12</span>
</li>
</ul>
</div>
<div class='bottom-btn'>
<ul>
<li>
<a href='/about' ui-sref='about'>
关于团队
</a>
</li>
<li>
<a href="http://cms.palmdrive.cn/mentor/mentorinfo">导师注册</a>
</li>
<li>
<a href='/mentors' ui-sref='mentors'>
导师一览
</a>
</li>
<li>
<a href="https://mp.weixin.qq.com/s?__biz=MzA5OTM4NDAyMg==&amp;mid=2654785229&amp;idx=4&amp;sn=a025b7f3b98565e683ff3245f803fec0&amp;key=99c0c40a9ecc7dee3ccb8697bcbf83cf8b152b691f5ee1133342696bac172c2d39899b8a192f046817b354b85f4c1aed75fdf81c16872abf29dafe8ab47da8bf8b2ca3e0c2bfcb4a4a7b3b0693700a8c&amp;ascene=0&amp;uin=MTE1MTM4Mjk0MA%3D%3D&amp;devicetype=iMac+MacBookPro12%2C1+OSX+OSX+10.12.4+build(16E195)&amp;version=12020110&amp;nettype=WIFI&amp;fontScale=100&amp;pass_ticket=Vx0Fzp7%2FzP01YRI3qn%2BvhU42A04cV28PqYo%2BIBTMXTZApouH5qhDG4WYWAiKEZ4o" target="_blank">加入我们</a>
</li>
<li>
<a href="/privacy_policy" target="_blank">隐私条款</a>
</li>
<li>
<a class='login-btn' data-toggle='modal' href='#sign-in-modal'>登入(旧)</a>
</li>
<li>
<a class='btn-signup' data-toggle='modal' href='#applicant-signup-modal'>注册(旧)</a>
</li>
</ul>
</div>
</div>
<div class='right-view'>
<div class='care-us-title'>关注我们</div>
<a href='https://weibo.com/palmdrive' target='_blank'>
<div class='img' style="background: url('/img/marketings/3.0/new_home/25.png')"></div>
</a>
<a href='https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzA5OTM4NDAyMg==&amp;scene=126&amp;bizpsid=1553137102&amp;sessionid=1553137102&amp;subscene=0#wechat_redirect' target='_blank'>
<div class='img' style="background: url('/img/marketings/3.0/new_home/26.png')"></div>
</a>
<div class='wx-code' ng-click='' style="background: url('/img/marketings/3.0/new_home/wx-code.jpg')"></div>
<div class='line'></div>
<div class='tel-title'>全国统一客服电话</div>
<div class='tel-number'>400-006-2153</div>
<div class='copy-right'>CopyRight©2017 棕榈大道教育科技(北京)有限公司</div>
<a class='copy-right copy-right3' data-toggle='modal' href='https://beian.miit.gov.cn' style='color: #fff'>京ICP备14009960号-1</a>
<div class='copy-right'>增值电信业务经营许可证：京B2-20191218</div>
</div>
</div>
</footer>
<footer class='size-s' id='new-footer-mobile'>
<div class='container'>
<div class='top-view'>
<div class='contact-service'>
<div class='contact-service-title'>关注我们</div>
<a href='https://weibo.com/palmdrive' target='_blank'>
<div class='img' style="background: url('/img/marketings/3.0/new_home/25.png')"></div>
</a>
<a href='https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzA5OTM4NDAyMg==&amp;scene=126&amp;bizpsid=1553137102&amp;sessionid=1553137102&amp;subscene=0#wechat_redirect' target='_blank'>
<div class='img' style="background: url('/img/marketings/3.0/new_home/26.png')"></div>
</a>
<div class='wx-code' ng-click='' style="background: url('/img/marketings/3.0/new_home/wx-code.jpg')"></div>
</div>
<div class='line'></div>
<div class='contacts-service-view'>
<ul>
<li>
<span>邮箱：yue_guo@palmdrive.cn</span>
</li>
<li>
<span><span class="translation_missing" title="translation missing: zh-CN.marketings.global.footer.Hotline">Hotline</span>：400-006-2153</span>
</li>
<li>
<span>留学服务咨询微信号：palmdrive12</span>
</li>
</ul>
</div>
<div class='city-view'>
<ul class='city'>
<li onclick='showMsg(0, this)' style='color: #fff'>
Beijing
</li>
<li onclick='showMsg(1, this)'>
Shanghai
</li>
<li onclick='showMsg(2, this)'>
Shenzhen
</li>
<li onclick='showMsg(3, this)'>
Chengdu
</li>
<li onclick='showMsg(4, this)'>
Guangzhou
</li>
<li onclick='showMsg(5, this)'>
Wuhan
</li>
<li onclick='showMsg(6, this)'>
Hangzhou
</li>
<li onclick='showMsg(7, this)'>
Silicon Valley
</li>
</ul>
</div>
<div class='line'></div>
<div class='contacts-view'>
<ul class='contacts contacts-address'>
<li class='contact-title'>Contact</li>
<li>
<span>ADD:</span>
<span>北京市海淀区北四环西路66号中国技术交易大厦A座1501室</span>
</li>
<li>
<span>TEL:</span>
<span>010-6268 0655</span>
</li>
</ul>
</div>
</div>
<div class='bottom-view'>
<ul>
<li>
<a href='/about' ui-sref='about'>
关于团队
</a>
</li>
<li>
<a href="http://cms.palmdrive.cn/mentor/mentorinfo">导师注册</a>
</li>
<li>
<a href='/mentors' ui-sref='mentors'>
导师一览
</a>
</li>
<li>
<a href="https://mp.weixin.qq.com/s?__biz=MzA5OTM4NDAyMg==&amp;mid=2654785229&amp;idx=4&amp;sn=a025b7f3b98565e683ff3245f803fec0&amp;key=99c0c40a9ecc7dee3ccb8697bcbf83cf8b152b691f5ee1133342696bac172c2d39899b8a192f046817b354b85f4c1aed75fdf81c16872abf29dafe8ab47da8bf8b2ca3e0c2bfcb4a4a7b3b0693700a8c&amp;ascene=0&amp;uin=MTE1MTM4Mjk0MA%3D%3D&amp;devicetype=iMac+MacBookPro12%2C1+OSX+OSX+10.12.4+build(16E195)&amp;version=12020110&amp;nettype=WIFI&amp;fontScale=100&amp;pass_ticket=Vx0Fzp7%2FzP01YRI3qn%2BvhU42A04cV28PqYo%2BIBTMXTZApouH5qhDG4WYWAiKEZ4o" target="_blank">加入我们</a>
</li>
</ul>
<ul>
<li>
<a href="/privacy_policy" target="_blank">隐私条款</a>
</li>
<li>
<a class='login-btn' data-toggle='modal' href='#sign-in-modal'>登入(旧)</a>
</li>
<li>
<a class='btn-signup' data-toggle='modal' href='#applicant-signup-modal'>注册(旧)</a>
</li>
</ul>
<div class='copy-right'>CopyRight©2017 棕榈大道教育科技(北京)有限公司</div>
<div class='copy-right2'>增值电信业务经营许可证：京B2-20191218</div>
<a class='copy-right' data-toggle='modal' href='https://beian.miit.gov.cn' style='color: #fff'>京ICP备14009960号-1</a>
</div>
</div>
</footer>
<script>
  var address = [
    [
      {
        add: "北京市海淀区北四环西路66号中国技术交易大厦A座1501室",
        tel: "010-6268 0655"
      },
      {
        add: "北京市朝阳区建国路112号中国惠普大厦13层1317",
        tel: "010-6268 0655"
      },
    ],
    [
      {
        add: "上海市黄浦区淮海中路381号中环广场701室",
        tel: "021-6331 0108"
      }
    ],
    [
      {
        add: "深圳市福田区金田路卓越世纪中心1号楼407-410室",
        tel: "0755- 8891 2010"
      }
    ],
    [
      {
        add: "成都市锦江区红星路三段1号国际金融中心一号办公楼36楼1及8-10单元",
        tel: "028-8675 8946"
      }
    ],
    [
      {
        add: "广州市天河区珠江东路11号高德置地广场F座11楼02-03单元",
        tel: "020-8981 9380"
      }
    ],
    [
      {
        add: "武汉市洪山区珞瑜路10号群光中心写字楼16楼1606",
        tel: "027-87791846"
      }
    ],
    [
      {
        add: "浙江省杭州市拱墅区环城北路208号坤和中心1702室",
        tel: "0571-8690 7806"
      }
    ],
    [
      {
        add: "1601 S De Anza Blvd, Ste 115, Cupertino, 95014",
        tel: "+1 650-880-9306"
      }
    ],
  ]
  
  if (PD.locale == "en") {
    address = [
      [
        {
          add: "Room 1501, Block A, China Technology Exchange Center, No. 66 Beisihuan West Road, Haidian District, Beijing, China.",
          tel: "010-6268 0655"
        },
        {
          add: "Room 2105B,Building C, Oriental Meidiya Center, No.4, Guanghua Road, Chaoyang District, Beijing City.",
          tel: "010-6268 0655"
        },
      ],
      [
        {
          add: "Room 1001, Block A, SOHO Fuxing Plaza, No. 388 Madang Road, Huangpu District, Shanghai, China.",
          tel: "021-6331 0108"
        }
      ],
      [
        {
          add: "Rooms 407-410, Building 1, Excellence Century Center, No. 1 Jintian Road, Futian District, Shenzhen, China.",
          tel: "0755- 8891 2010"
        }
      ],
      [
        {
          add: "36th Floor, Units 1 and 8-10, International Financial Center Building No.1, No. 1, Section 3, Hongxing Road, Jinjiang District, Chengdu, China.",
          tel: "028-8675 8946"
        }
      ],
      [
        {
          add: "11th Floor, Units 02-03, Block F, Gao De Di Plaza, No. 11 Zhujiang East Road, Tianhe District, Guangzhou, China.",
          tel: "020-8981 9380"
        }
      ],
      [
        {
          add: "16th Floor, Room 1606, Qun Guang Center Office Building, No. 10 Luoyu Road, Hongshan District, Wuhan, China.",
          tel: "027-87791846"
        }
      ],
      [
        {
          add: "Room 1702, Kunhe Center, 208 North Huancheng Road, Gongshu District, Hangzhou, Zhejiang",
          tel: "0571-8690 7806"
        }
      ],
      [
        {
          add: "1601 S De Anza Blvd, Ste 115, Cupertino, 95014",
          tel: "+1 650-880-9306"
        }
      ],
    ]
  }
  
  function showMsg(value, dom) {
    $(".city li").css("color","#ccc");
    $(dom).css("color","#fff");
    let temp = "<li class='contact-title'>Contact</li>";
    $(".contacts-address").html("");
    for (var i = 0; i < this.address[value].length; i++) {
      let eachAddress = address[value][i];
      temp += "<li><span> ADD: <span> " + eachAddress.add + "</span></li><li><span> TEL: <span>" + eachAddress.tel + "</span></li><br/>"
    }
  
    $(".contacts-address").append(temp);
  }
  
  var onMobile = PD.util.isSmallScreen();
  
  var url = window.location.pathname
  if (onMobile) {
    if (url == "/" || url == "/news-all" || url != "/a") {
      $("#new-footer-mobile").css("display","block");
      $("#new-footer").css("display","none");
      $("#footer").css("display","none");
    } else {
      $("#new-footer-mobile").css("display","none");
      $("#new-footer").css("display","none");
      $("#footer").css("display","block");
    }
  } else {
    if (url == "/" || url == "/news-all" || url != "/a") {
      $("#new-footer").css("display","block");
      $("#new-footer-mobile").css("display","none");
      $("#footer").css("display","none");
    } else {
      $("#new-footer-mobile").css("display","none");
      $("#new-footer").css("display","none");
      $("#footer").css("display","block");
    }
  }
  
  var hostName = window.location.hostname;
  if (hostName == "www.palmdrive.cn") {
    $(".copy-right3").html("");
    $(".copy-right3").append("京ICP备14009960号-1");
  } else {
    $(".copy-right3").html("");
    $(".copy-right3").append("京ICP备14009960号-6");
  }
  
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?3840b145b7758480c7e94afff9a97561";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  
    
  
  })();
</script>

<div class='contact-info hidden-phone' id='contact-info'>
<div class='contact-circle'>
<div class='circle-dot center size-xs white'>
<i class='fa fa-lg fa-phone white'></i>
<br>
<div class='black'>400-006-2153</div>
<div class='size-s'>
OR
</div>
<div class='pull-right black'>
扫描二维码
<br>咨询详情</br>
</div>
</div>
</div>
<div class='contact-square'>
<div class='square-dot'>
<img src='/img/QR/contact-4.png'>
</div>
</div>
</div>


<script>
  if ($(window).width() > 0) {
    var js = document.createElement("script");
  
    js.type = "text/javascript";
    js.src = "//webchat04.7moor.com/javascripts/7moorInit.js?accessId=1ef39b00-7e59-11e7-9f4f-094b4b70a2a6&autoShow=true";
    js.async = "async";
  
    document.body.appendChild(js);
  };
</script>

<!-- = render :partial => "layouts/zendeskJS" -->
</body>
</html>
